# Ports
FRONTEND_PORT=3000
API_PORT=3001
STORAGE_PORT=3002

# URLs
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:3001
STORAGE_URL=http://localhost:3002

# JWT (API)
JWT_ACCESS_SECRET=dev_secret_change_me
JWT_ACCESS_EXPIRES=15m

# Storage
STORAGE_MODE=local
DB_PATH=./storage/data/articles.json
FILES_PATH=./storage/data/days
GCLOUD_PROJECT_ID=your-project-id
GCLOUD_CREDENTIALS=./keys/gcloud-key.json
FIRESTORE_COLLECTION=articles
GCS_BUCKET_NAME=your-bucket-name