# Окружение
.env.example
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/install-state.gz
.yarn/
# Компиляция
dist/
build/

# Логи
logs/
*.log

# ОС и IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Тесты / покрытие
coverage/